// Light Mode

$background-light: #efefef;
$cor-primaria: #184d47;
$cor-secundaria: #d6efc7;
$cor-complementar: #eebb4d;
$footer-light: #184d47;

// Dark Mode

$background-dark: #1c1c1c;

// Fontes

$josefin: "Josefin Sans", sans-serif;
$rubik: "Rubik", sans-serif;
$asap: "Asap", sans-serif;
