// Helpers
@import "abstracts/_variaveis.scss";
@import "abstracts/_mixins.scss";

// Layout
@import "layout/_header.scss";
@import "layout/_info.scss";
@import "layout/_partners.scss";
@import "layout/_footer.scss";

:root {
  --background: #{$cor-background};
  --cor-primaria: #{$cor-primaria};
  --cor-secundaria: #{$cor-secundaria};
  --footer: #{$footer};
}

html {
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--cor-primaria);
  font-family: $asap;
  font-size: 16px;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--cor-primaria);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

section {
  padding: 4em 1em;
  text-align: center;
}
